# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]

# ==========================================
# Virtual Environment
# ==========================================

venv/

# ==========================================
# Environment Variables
# ==========================================

.env

# ==========================================
# User Uploaded Files
# ==========================================

media/

# ==========================================
# IDE
# ==========================================

.vscode/

# ==========================================
# Operating System
# ==========================================

.DS_Store
Thumbs.db