<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand fw-bold" href="{% url 'products:home' %}">
            CostumeHub
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#anaMenu"
            aria-controls="anaMenu"
            aria-expanded="false"
            aria-label="Menüyü aç"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="anaMenu">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="{% url 'products:home' %}"
                    >
                        Ana Sayfa
                    </a>
                </li>

                <li class="nav-item">
                    <a
    class="nav-link"
    href="{% url 'products:ilan_listesi' %}"
>
    Kostümler
</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Nasıl Çalışır?
                    </a>
                </li>

            </ul>

            <div class="d-flex align-items-center gap-2">

                {% if user.is_authenticated %}

                    <span class="navbar-text text-light me-2">
                        Hoş geldin, {{ user.username }}
                    </span>
                    <a
    href="{% url 'accounts:profil' %}"
    class="btn btn-outline-light btn-sm"
>
    Profilim
</a>

                    <a
    href="{% url 'products:ilan_olustur' %}"
    class="btn btn-outline-light btn-sm"
>
    İlan Ver
</a>

                    <form
                        method="POST"
                        action="{% url 'accounts:cikis' %}"
                        class="d-inline"
                    >
                        {% csrf_token %}

                        <button
                            type="submit"
                            class="btn btn-warning btn-sm"
                        >
                            Çıkış Yap
                        </button>
                    </form>

                {% else %}

                    <a
                        href="{% url 'accounts:giris' %}"
                        class="btn btn-outline-light btn-sm"
                    >
                        Giriş Yap
                    </a>

                    <a
                        href="{% url 'accounts:kayit' %}"
                        class="btn btn-warning btn-sm"
                    >
                        Kayıt Ol
                    </a>

                {% endif %}

            </div>

        </div>

    </div>
</nav> 